<!DOCTYPE html>
<html lang="en">

<head th:replace="fragment/head.html :: head"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="fragment/header.html :: header"></header>
<!-- End Header -->

<main id="main">
    <h1 th:text="${data}"></h1>
    <!-- ======= About Section ======= -->
    <section th:replace="fragment/about.html::about"></section>
    <!-- End About Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="fragment/footer.html :: footer"></footer>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<script th:replace="fragment/script.html"></script>

</body>

</html>