<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragment/head.html :: head"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="fragment/header.html :: header"></header>
<!-- End Header -->


<main id="main">
    <section class="h-100 h-custom" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="row">

                                <div class="col-lg-7">
                                    <h5 class="mb-3"><a href="#!" class="text-body"><i
                                            class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                                    <hr>

                                    <div class="card mb-3" th:each="item : ${cart.products}">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <input type="hidden" class="data-hidden" th:data-product-id="${item.value.productId}" th:data-quantity="${item.value.quantity}">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img
                                                                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                                                                class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h6 th:text="${item.value.productName}"></h6>
                                                        <p class="small mb-0">256GB, Navy Blue</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center col-5 haft-cart-info">
                                                    <div class="">
                                                        <div style="width: 50px;">
                                                            <h7 class="fw-normal mb-0 text-inline" th:text="${item.value.quantity} + ' * ' + ${item.value.unitPrice}"></h7>
                                                        </div>
                                                        <div style="width: 80px;">
                                                            <p class="mb-0 text-inline" th:text="${item.value.quantity * item.value.unitPrice}">1.200.000 VND</p>
                                                        </div>
                                                    </div>
                                                    <a href="javascript:void (0)" style="color: #cecece;"><i class="bi bi-trash"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-5">

                                    <div class="card bg-primary-custom text-white rounded-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center mb-4">
                                                <h5 class="mb-0">Thông tin khách hàng</h5>
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                                     class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                            </div>

                                            <form class="mt-4" id="form-customer-info">
                                                <div class="form-group form-outline form-white mb-4">
                                                    <label class="form-label" for="customerName">Tên Khách Hàng</label>
                                                    <input type="text" id="customerName" name="customerName" class="form-control form-control-lg text-white customer-info"/>
                                                </div>

                                                <div class="form-outline form-white mb-4">
                                                    <label class="form-label" for="phoneNumber">Số Điện Thoại</label>
                                                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control form-control-lg customer-info"/>
                                                </div>

                                                <div class="form-outline form-white mb-4">
                                                    <label class="form-label" for="address">Địa Chỉ</label>
                                                    <input type="text" id="address" name="address" class="form-control form-control-lg customer-info"/>
                                                </div>
                                                <div class="form-outline form-white mb-4">
                                                    <label class="form-label" for="note">Ghi chú</label>
                                                    <textarea type="" id="note" name="note" class="form-control form-control-lg customer-info"></textarea>
                                                </div>

                                            </form>

                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Tổng tiền</p>
                                                <p class="mb-2" th:text="${#aggregates.sum(cart.products.![value.quantity * value.unitPrice])}"></p>
                                            </div>
                                            <button type="button" class="btn btn-info btn-block btn-lg" id="order-product">
                                                <div class="d-flex justify-content-between text-white">
                                                    <span>Đặt hàng <i class="bi bi-arrow-right"></i></span>
                                                </div>
                                            </button>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="fragment/footer.html :: footer"></footer>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<script th:replace="fragment/script.html"></script>

</body>

</html>