<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragment/head.html :: head"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="fragment/header.html :: header"></header>
<!-- End Header -->


<main id="main">
    <section id="menu" class="menu">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Our Menu</h2>
                <p>Check Our <span>Yummy Menu</span></p>
            </div>

            <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

                <li class="nav-item">
                    <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
                        <h4>Starters</h4>
                    </a>
                </li><!-- End tab nav item -->

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                        <h4>Breakfast</h4>
                    </a><!-- End tab nav item -->

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                        <h4>Lunch</h4>
                    </a>
                </li><!-- End tab nav item -->

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
                        <h4>Dinner</h4>
                    </a>
                </li><!-- End tab nav item -->

            </ul>

            <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

                <div class="tab-pane fade active show" id="menu-starters">

                    <div class="tab-header text-center">
                        <p>Product</p>
                        <h3>Starters</h3>
                    </div>

                    <div class="row gy-5">
                        <div th:each="product: ${listData}" class="col-lg-4 menu-item">
                            <a href="../assets/img/menu/menu-item-6.png" class="glightbox"><img
                                    src="../assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
                            <h4 th:text="${product.name}"></h4>
                            <!--/*@thymesVar id="product" type=""*/-->
                            <p class="desc" th:text="${product.desc}"></p>
                            <p class="price" th:text="${product.price}"></p>
                            <div class="input-group mb-3 cart-action">
                                <div class="input-group-prepend">
                                    <button th:id="${product.id}" class="btn btn-outline-secondary btn-minus" type="button">
                                        <i class="bi bi-dash"></i>
                                    </button>
                                </div>
                                <div class="col-lg-6">
                                    <input th:id="${product.id}" type="number" class="form-control cart-quantity" value="1" min="1">
                                </div>
                                <div class="input-group-append">
                                    <button th:id="${product.id}" class="btn btn-outline-secondary btn-plus" type="button">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success" th:attr="onclick=|addCart(${product.id})|">
                                <i class="bi bi-cart"></i>
                                Thêm vào giỏ hàng
                            </button>
                        </div><!-- Menu Item -->
                    </div>
                </div><!-- End Starter Menu Content -->

            </div>

        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="fragment/footer.html :: footer"></footer>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<script th:replace="fragment/script.html"></script>

</body>

</html>