<div class="container py-5 h-100 quick-cart replace hidden">
    <div class="row d-flex justify-content-center align-items-center quick-cart body">
        <div class="col h-100">
            <div class="card">
                <div class="card-body p-4">
                    <div class="row">
                        <h5 class="mb-3"><a href="#!" class="text-body"><i
                                class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                        <hr>
                        <div class="quick-cart-item">
                            <div class="card mb-3" th:each="item : ${cart.products}">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <div>
                                                <img
                                                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                                                        class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                            </div>
                                            <div class="ms-3">
                                                <h6 th:text="${item.value.productName}"></h6>
                                                <p class="small mb-0">256GB, Navy Blue</p>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center col-5 haft-cart-info">
                                            <div class="">
                                                <div style="width: 50px;">
                                                    <h7 class="fw-normal mb-0 text-inline" th:text="${item.value.quantity} + ' * ' + ${item.value.unitPrice}"></h7>
                                                </div>
                                                <div style="width: 80px;">
                                                    <p class="mb-0 text-inline" th:text="${item.value.quantity * item.value.unitPrice}">1.200.000 VND</p>
                                                </div>
                                            </div>
                                            <a href="javascript:void (0)" style="color: #cecece;"><i class="bi bi-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <a th:href="@{/payment/check-out}" type="button" class="btn btn-info btn-block btn-lg">
                            <div class="d-flex justify-content-between text-white">
                                <span>$4818.00</span>
                                <span>Checkout <i class="bi bi-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>